.btn {
  color: white;
  background-color: gray;
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 0.75em;
  text-decoration: none;
}

.btn:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.btn:active {
  background-color: darkgray;
  color: white;
}

.grid-container {
  display: grid;
  margin: 2em;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: gray;
  color: whitesmoke;
}

.navbar * {
  margin: 3px;
  font-size: 1.5em;
}

.card {
  border: 1px solid lightgray;
  padding: 20px 10px;
  min-width: 150px;
  text-align: center;
}

.card .avatar {
  border-radius: 35px;
  width: 70px;
}

.card .username {
  margin: 0.5em;
  font-weight: bold;
}
