.btn {
  color: white;
  background-color: gray;
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 0.75em;
  text-decoration: none;
}

.btn:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.btn:active {
  background-color: darkgray;
  color: white;
}

.spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px dotted gray;
  margin: 3em auto;
  animation-name: spin;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  margin: 2em;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: gray;
  color: whitesmoke;
}

.navbar * {
  margin: 3px;
  font-size: 1.5em;
}

.card {
  border: 1px solid lightgray;
  padding: 20px 10px;
  min-width: 150px;
  text-align: center;
}

.card .avatar {
  border-radius: 35px;
  width: 70px;
}

.card .username {
  margin: 0.5em;
  font-weight: bold;
}

.search-form > * {
  box-sizing: border-box;
  display: block;
  margin: 2px;
  width: 100%;
}

.search-form .search-textbox {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5em;
}
